@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animation-pause {
    animation-play-state: paused;
  }
}

.ant-upload-list-item {
  background-color: #00000030;
}
